.reactMarkDown {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1000px;
  margin: auto;
}

.reactMarkDown img {
  max-width: 100%;
  height: auto;
  padding: 10px 80px;
}

.reactMarkDown p {
  color: #2d2d2d;
  font-size: 18px;
}